<% if logged_in? %>
<div class="container">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <%= link_to "投稿する", new_post_path, class: "btn btn-warning btn-lg btn-block" %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="main_section">
      <%= render 'shared/feed' %>
    </section>
  </div>
</div>
<% else %>
  <div class="col-md-12 top_title">
    <h3>「Noodles」は、好きなラーメン屋さんの情報や写真を</h3>
    <h3>友だちと共有できるアプリケーションです。</h3>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.hidden_field :email, value: "test@test-user.com" %>
      <%= f.hidden_field :password, value: "password" %>
      <%= f.submit "お試しログイン", class: "btn btn-warning btn-lg" %>
    <% end %>
    <h3>or</h3>
    <%= link_to "ユーザー登録してログイン", signup_path, class: "btn btn-default btn-lg" %>
  </div>
<% end %>
