<% provide(:title, 'ホーム') %>
<div class="contents">
  <% if logged_in? %>
    <%= render 'shared/sidebar' %>
  <% end %>
  <section class="main_section">
    <%= render 'shared/feed' %>
  </section>
  <aside>
    <% if logged_in? %>
      <section class="user_info">
        <label for="sidebar" class="close">×</label>
        <div class="user_image">
          <%= render '/shared/user_image', { user: current_user } %>
        </div>
        <%= render 'shared/user_info' %>
        <%= render 'shared/post_btn' %>
      </section>
    <% end %>
    <%= render 'shared/search_form_section' %>
    <%= render 'shared/map_section' %>
    <%= render 'shared/genre_list' %>
  </aside>
  <%= render 'shared/post_btn_responsive' if logged_in? %>
</div>
