<% provide(:title, 'パスワードの再設定') %>
<div class="form_page">
  <div class="form">
    <h3>パスワードの再設定</h3>
    <h5>新しいパスワードを入力してください。</h5>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %> <!-- password_reset_path(reset_token)にpatchリクエストを送る -->
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %> <!-- emailをキーとしてユーザーを検索。@user.emailがparams[:email]に保存される。params[:user][:email]ではないことに注意 -->

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control', placeholder: "6文字以上" %>

      <%= f.label :パスワード（確認） %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワードをもう一度入力してください。" %>

      <%= f.submit "更新", class: "btn btn-warning btn-block" %>
    <% end %>
  </div>
</div>
