<div class="container">
  <div class="map">
    <h3>地図から投稿を検索</h3>
    <%= form_with url: map_request_path, method: :get do |f|%>
      <span><%= f.radio_button :posts, "post_all", checked: true %>全ての投稿</span>
      <span><%= f.radio_button :posts, "post_following" %>フォローしているユーザーの投稿</span>
      <span><%= f.radio_button :posts, "my_post" %>自分の投稿</span>
      <%= f.submit '投稿されたお店を表示', class: "btn btn-primary" %>
    <% end %>
    <div id="map_index">
    </div>
  </div>
</div>



<script>
  let mapInstance
  function initMap(){
    mapInstance = new google.maps.Map(document.getElementById('map_index'), {
    center: {lat: -34.397, lng: 150.644}, // 地図の中心を指定
    zoom: 8 // 地図のズームを指定
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.GCP[:API_KEY] %>&callback=initMap" defer></script>
