<div class="post_search_map">
  <h3>地図から投稿を検索</h3>
  <%= form_with url: map_request_path, method: :get do |f| %>
    <span><%= f.radio_button :posts, "all_user", checked: true %>全てのユーザーの投稿</span>
    <% if logged_in? %>
      <span><%= f.radio_button :posts, "following", disabled: false %>自分とフォロー中のユーザーの投稿</span>
      <span><%= f.radio_button :posts, "current_user", disabled: false %>自分の投稿</span>
    <% else %>
      <span><%= f.radio_button :posts, "following", disabled: true %>自分とフォロー中のユーザーの投稿</span>
      <span><%= f.radio_button :posts, "current_user", disabled: true %>自分の投稿</span>
    <% end %>
    <%= f.submit '投稿されたお店を表示', class: "btn btn-primary" %>
    <button type="button" class="btn btn-success current_position" onclick="getLocation()">
      地図を現在地周辺に切り替える</button>
  <% end %>
  <div id="map_index"></div>
</div>
<%= render 'maps/index_map' %>
