<h3>アカウント設定</h3>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user,{multipart: true}) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :パスワード（確認） %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%=f.label :image,"ユーザー画像" %>
      <div class="edit_image">
        <% if @user.image.to_s.empty? %>
          <%= image_tag "/default_user.png", :size => '70x70'%>
        <% else %>
          <%= image_tag @user.image.url, :size => '70x70'%>
        <% end %>
      </div>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>


      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
