<div class="form_page">
  <div class="form">
    <h3>アカウント設定</h3>
    <%= form_for(@user,{multipart: true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :パスワード（確認） %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%=f.label :image,"ユーザー画像" %>
      <div class="edit_image">
        <% if @user.image.to_s.empty? %>
          <%= image_tag "/default_user.png" %>
        <% else %>
          <%= image_tag @user.image.url %>
        <% end %>
      </div>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>


      <%= f.submit "変更を保存", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
