<% provide(:title, @user.name) %>
<div class="contents">
  <%= render 'shared/sidebar' %>
  <section class="main_section">
    <%= render @main_section_render %>
  </section>
  <aside>
    <section class="user_info">
      <label for="sidebar" class="close">×</label>
      <%= render '/shared/user_image_show' %>
      <%= render 'shared/user_info' %>
      <%= render 'follow_form' if logged_in? %>
      <%= render 'shared/post_btn' if @user == current_user %>
    </section>
  </aside>
  <%= render 'shared/post_btn_responsive' if logged_in? %>
</div>
