<div class="container">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <%= render 'follow_form' if logged_in? %>
      <% if @user == current_user %>
        <%= link_to "投稿する", new_post_path, class: "btn btn-warning btn-lg btn-block" %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="main_section">
      <div class="section_title">
        <ul>
          <li><%= link_to "投稿 (#{@user.posts.count})", @user, class: "current" %></li>
          <li><%= link_to "食べたい！(#{@user.likes.count})", likes_user_path(@user) %></li>
        </ul>
      </div>
      <% if @user.posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% else %>
        <div class="no-contents">
          <h3><%= @user.name %>の投稿はありません。</h3>
          <% if @user == current_user %>
            <h3>投稿してみましょう。</h3>
            <%= link_to image_tag("/note.png", :size => '100x100', alt: "投稿する"),
                                                                    new_post_path %>
          <% else %>
            <%= image_tag "/noodle.png", :size => '100x100' %>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>
