<div class="section_title">
  <h3><%= @section_title %></h3>
</div>
<% if @feed_items.any? %>
  <ol class="posts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
  <div class="no-contents">
    <h3>ここにあなたや友だちの投稿が表示されます。</h3>
    <h3>投稿したり、友だちをフォローしてみましょう。</h3>
    <%= link_to image_tag("/note.png", :size => '100x100', alt: "投稿する"),
                                                              new_post_path %>
    <%= link_to image_tag("/users.png", :size => '100x100', alt: "利用者一覧"),
                                                                users_path %>
  </div>
<% end %>
