<div class="user_image">
  <% if current_user.image.to_s.empty? %>
    <%= image_tag "/default_user.png" %>
  <% else %>
    <%= image_tag current_user.image.url %>
  <% end %>
</div>
<%= link_to current_user.name, current_user, class: "name" %>
<span>投稿数: <%= current_user.posts.count %></span>
<span>登録日: <%= current_user.created_at.strftime('%Y/%m/%d') %></span>
<%= link_to "投稿する", new_post_path, class: "btn btn-warning btn-lg btn-block" %>
