<% @user ||= current_user %>
<div class="user_image">
  <%= render '/shared/user_image', { user: @user } %>
</div>
<%= link_to @user.name, @user, class: "name" %>
<div class="stats">
  <%= render 'shared/stats' %>
</div>
<span>投稿数: <%= @user.posts.count %></span>
<span>登録日: <%= @user.created_at.strftime('%Y/%m/%d') %></span>
