<div class="post_comments">
  <h4><i class="far fa-comments"></i> コメント（<%= @post.comments.count %>）</h4>
  <% if @comments.any? %>
    <ol class="post_comments_list">
      <% @comments.each do |comment| %>
        <li id="comment-<%= comment.id %>">
          <div class="comment_left">
            <%= render '/shared/user_image', { user: comment.user } %>
          </div>
          <div class="comment_right">
            <span class="comment_user_name"><%= link_to comment.user.name, comment.user %></span>
            <span class="comment_content"><%= simple_format(comment.content) %></span>
            <span class="comment_timestamp"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>にコメント</span>
            <% if current_user?(comment.user) %>
              <span class="comment_destroy">
                <%= link_to "削除", [@post, comment], method: :delete,
                                                   data: { confirm: "本当に削除しますか？" } %>
              </span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>コメントはありません。</p>
  <% end %>
  <div class="post_comments_form">
    <%= form_with model: @comment, local: true, url: post_path(@post.id) do |f| %> <!-- form_withはデフォルトだと非同期通信 -->
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :content, class: 'form-control', placeholder: "200文字以内" %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit "コメントする", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
