<li id="post-<%= post.id %>" class="post">
  <div class="post_header">
    <%= render 'shared/user_image', { user: post.user } %>
    <div class="post_user">
      <%= link_to post.user.name, post.user %> が食べたラーメン
    </div>
    <%= render 'posts/post_menu', { post: post } %>
  </div>
  <div class="post_container">
    <%= render 'posts/post_picture', { post: post } %>
    <div class="post_information">
      <span class="shop_name"><%= post.shop_name %></span>
      <div class="rate">
        <div id="star-<%= post.id %>" data-score="<%= post.rate %>"></div>
        <div class="rate_score">
          <p><%= post.rate %></p>
        </div>
      </div>
      <span class="nearest">最寄駅: <%= post.nearest %></span>
      <span class="content"><%= simple_format(post.content) %></span>
      <span class="more"><%= link_to "もっと見る", post_path(post.id) %></span>
      <%= render 'posts/genre', post: post %>
      <div class="post_reaction">
        <span><i class="far fa-comments"></i> <%= post.comments.count %></span>
        <%= render "likes/like", post: post %></span>
      </div>
      <span class="timestamp"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</span> <!-- strftime(format) ←時刻を format 文字列に従って文字列に変換した結果を返す -->
    </div>
  </div>
</li>
<script>
  $('#star-<%= post.id %>').raty({
    readOnly: true,
    starOff : '<%= asset_path('star-off.png') %>',
    starOn  : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    hints   : ["", "", "", "", ""],
    score   : function() {
                return $(this).attr('data-score'); // jqueryを用いて#starのdata-score(評価の値)を取得
              },
    half    : true,
  });
</script>
