<li id="post-<%= post.id %>">
  <div class="post_header">
    <% if post.user.image.to_s.empty? %>
      <%= image_tag "/default_user.png" %>
    <% else %>
      <%= image_tag post.user.image.url %>
    <% end %>
    <%= link_to post.user.name, post.user %>
  </div>

  <div class="post_picture">
    <%= image_tag post.picture.url if post.picture? %>
  </div>
  <span class="shop_name">店名: <%= post.shop_name %></span>
  <span class="nearest">最寄駅: <%= post.nearest %></span>
  <span class="comment">説明文: <%= simple_format(post.content) %></span>
  <span class="timestamp">
    <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿
  </span>
  <span class="like"><%= render "likes/like", post: post %></span>
  <% if current_user?(post.user) %>
    <div class="post_menu">
      <%= link_to "編集", edit_post_path(post) %>　
      <%= link_to "削除", post, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
    </div>
  <% end %>
</li>
