<li id="post-<%= post.id %>" class="post">
  <div class="post_header">
    <%= render '/shared/user_image', { user: post.user } %>
    <div class="post_user">
      <%= link_to post.user.name, post.user %> が食べたラーメン
    </div>
    <%= render '/posts/post_menu', { post: post } %>
  </div>
  <div class="post_container">
    <div class="post_picture">
      <%= image_tag post.picture.url if post.picture? %> <!-- picture?は画像用の属性名に応じてCarrierWaveが自動的に生成したメソッド -->
    </div>
    <div class="post_information">
      <span class="shop_name">店名: <%= post.shop_name %></span>
      <span class="nearest">最寄駅: <%= post.nearest %></span>
      <span class="content">説明文: <%= simple_format(post.content) %></span>
      <span class="more"><%= link_to "もっと見る", post_path(post.id) %></span>
      <%= render 'posts/genre', post: post %>
      <div class="post_reaction">
        <span><i class="far fa-comments"></i> <%= post.comments.count %></span>
        <%= render "likes/like", post: post %></span>
      </div>
      <span class="timestamp"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</span> <!-- strftime(format) ←時刻を format 文字列に従って文字列に変換した結果を返す -->
    </div>
  </div>
</li>
