<div class="form_page">
  <div class="form">
    <h3>編集する</h3>
    <%= form_for(@post, url: edit_post_path(@post)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>


      <%= f.label :店舗名 %>
      <%= f.text_field :shop_name, class: 'form-control' %>

      <%= f.label :最寄駅 %>
      <%= f.text_field :nearest, class: 'form-control' %>

      <%= f.label :説明文 %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.submit "編集する", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
