<% provide(:title, @genre.name + ' - ジャンル別検索結果') %>
<div class="contents">
  <% if logged_in? %>
    <%= render 'shared/sidebar' %>
  <% end %>
  <section class="main_section">
    <div class="section_title">
      <h3><%= @section_title %></h3>
    </div>
    <% if @posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% else %>
      <%= render 'posts/no-contents' %>
    <% end %>
  </section>
    <aside>
      <% if logged_in? %>
        <section class="user_info">
          <label for="sidebar" class="close">×</label>
          <div class="user_image">
            <%= render '/shared/user_image', { user: current_user } %>
          </div>
          <%= render 'shared/user_info' %>
          <%= render 'shared/post_btn' %>
        </section>
      <% end %>
      <%= render 'shared/genre_list' %>
    </aside>
    <%= render 'shared/post_btn_responsive' if logged_in? %>
</div>
