<% provide(:title, '投稿する') %>
<div class="form_page">
  <div class="form">
    <h3>投稿する</h3>
    <%= form_for(@post, url: new_post_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!-- エラーメッセージパーシャルで使うobject変数を定義 (f.objectとすることによって、関連付けられたオブジェクトにアクセスすることができる) -->

      <%= f.label :投稿画像 %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %> <!-- フォーマットのバリデーションをビューに組み込む -->

      <%= f.label :店舗名 %>
      <%= f.text_field :shop_name, class: 'form-control', placeholder: "20文字以内" %>

      <%= f.label :最寄駅 %>
      <%= f.text_field :nearest, class: 'form-control', placeholder: "20文字以内" %>

      <%= f.label :説明文 %>
      <%= f.text_area :content, class: 'form-control', size: "20x10", placeholder: "1000文字以内" %>

      <%= f.label :カテゴリ %>
      <div class="category_check_box">
        <!-- collection_check_boxesメソッド -->
        <!--
          第一引数 :category_ids postオブジェクトのプロパティ名
          第二引数 Category.all　categoryオブジェクトの配列を取得
          第三引数 :id　チェックボックスのvalue属性の値
          第四引数 :name チェックボックスのラベル名
        -->
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
        <% end %>
      </div>

      <%= f.submit "投稿する", class: "btn btn-warning btn-block" %>
    <% end %>
  </div>
</div>
