<div class="contents">
  <%= render 'shared/sidebar' %>
  <section class="main_section show">
    <div class="post_header" style="border-top: none;">
      <%= render '/shared/user_image', { user: @post.user } %>
      <div class="post_user">
        <%= link_to @post.user.name, @post.user %> が食べたラーメン
      </div>
      <%= render '/posts/post_menu', { post: @post } %>
    </div>
    <div class="post_show">
      <div class="post_picture">
        <%= image_tag @post.picture.url if @post.picture? %>
      </div>
      <div class="post_information">
        <span class="shop_name">店名: <%= @post.shop_name %></span>
        <span class="nearest">最寄駅: <%= @post.nearest %></span>
        <span class="content">説明文: <%= simple_format(@post.content) %></span>
        <div class="post_information_bottom">
          <div class="post_information_bottom_left">
            <span class="like"><%= render "likes/like", post: @post %></span>
            <span class="timestamp"><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</span>
          </div>
          <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@post.user.name}%E3%81%8C%E9%A3%9F%E3%81%B9%E3%81%9F%E3%83%A9%E3%83%BC%E3%83%A1%E3%83%B3%0D%0A#{@post.shop_name}%0D%0A%0D%0A&hashtags=Noodles", title: 'Twitter', target: '_blank' do %>
            <i class="fab fa-twitter-square fa-3x"></i>
          <% end %>
        </div>
      </div>
      <div class="post_map">
        <div id="map"></div>
      </div>
      <%= render 'posts/post_comments' %>
    </div>
  </section>
  <aside>
    <section class="user_info">
      <label for="sidebar" class="close">×</label>
      <%= render 'shared/user_info' %>
      <%= render 'users/follow_form' if logged_in? %>
      <%= render 'shared/post_btn' if @user == current_user %>
    </section>
  </aside>
</div>
<%= render 'posts/show_map' %>
