<% provide(:title, @post.shop_name + " | " + @post.user.name + "が食べたラーメン") %>
<div class="contents">
  <%= render 'shared/sidebar' %>
  <section class="main_section show" id="post-<%= @post.id %>">
    <div class="post_header" style="border-top: none;">
      <%= render '/shared/user_image', { user: @post.user } %>
      <div class="post_user">
        <%= link_to @post.user.name, @post.user %> が食べたラーメン
      </div>
      <%= render '/posts/post_menu', { post: @post } %>
    </div>
    <div class="post_show">
      <%= render 'post_picture', post: @post %>
      <div class="post_information">
        <span class="shop_name">店名: <%= @post.shop_name %></span>
        <span class="nearest">最寄駅: <%= @post.nearest %></span>
        <span class="content">説明文: <%= simple_format(@post.content) %></span>
        <%= render 'genre', post: @post %>
        <div class="post_information_bottom">
          <div class="post_information_bottom_left">
            <%= render "likes/like", post: @post %>
            <span class="timestamp"><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</span>
          </div>
          <div class="post_information_bottom_right">
            <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@post.user.name}%E3%81%8C%E9%A3%9F%E3%81%B9%E3%81%9F%E3%83%A9%E3%83%BC%E3%83%A1%E3%83%B3%0D%0A#{@post.shop_name}%0D%0A%0D%0A&hashtags=Noodles", title: 'Twitter', target: '_blank' do %>
              <i class="fab fa-twitter-square fa-3x"></i>
            <% end %>
            <%= link_to "https://www.facebook.com/share.php?u=https://noodles-app.com/posts/#{@post.id}", title: 'facebook', target: '_blank' do %>
              <i class="fab fa-facebook-square fa-3x"></i>
            <% end %>
            <%= link_to "https://social-plugins.line.me/lineit/share?url=https://noodles-app.com/posts/#{@post.id}", title: 'line', target: '_blank' do %>
              <i class="fab fa-line fa-3x"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="post_map">
        <div id="map"></div>
      </div>
      <div class="post_comments">
        <h4 id="comment_count"><i class="far fa-comments"></i> コメント（<%= @post.comments.count %>）</h4>
        <ol class="post_comments_list">
          <%= render @comments %>
        </ol>
        <div class="post_comments_form">
          <%= form_with model: @comment, url: post_path(@post.id) do |f| %> <!-- form_withはデフォルトだと非同期通信 -->
            <%= f.text_area :content, class: 'form-control', placeholder: "200文字以内", id: 'commentInput', onKeyUp: 'inputComment()' %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit "コメントする", class: "btn btn-warning", id: 'commentSubmit', disabled: true %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <aside>
    <section class="user_info">
      <label for="sidebar" class="close">×</label>
      <div class="user_image">
        <%= render '/shared/user_image', { user: @user } %>
      </div>
      <%= render 'shared/user_info' %>
      <%= render 'users/follow_form' if logged_in? %>
      <%= render 'shared/post_btn' if @user == current_user %>
    </section>
  </aside>
  <%= render 'shared/post_btn_responsive' if logged_in? %>
</div>
<%= render 'posts/show_map' %>
