<!DOCTYPE html> <!-- HTML5を使うことの宣言 -->
<html>
  <head>
    <title><%= yield(:title) %> | Noodles</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.GCP[:API_KEY] %>&callback=initMap" defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %> <!-- IEのバージョンが9未満の場合にのみHTML5 shimを読み込む -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/hamburger_menu' %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> col-md-12"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  <%= render 'layouts/footer' %>
  </body>
</html>
